<div class = "card_attrs"
     data-card="<%= card.escape("id") %>"
     data-cardrank="<%= card.escape("rank") %>"
     data-list="<%= card.escape("list_id") %>"
     data-toggle="modal"
     data-target="#card_modal<%= card.escape("id") %>">
  <%= card.escape("title") %>
</div>


<div class="modal fade" id="card_modal<%= card.escape("id") %>" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <div class="card_title"><%= card.escape("title") %></div>
        <form class="hidden edit_card_title">
          <input type="text" value="<%= card.escape("title") %>"></input>
        </form>
        <button class="card_entry destroy_card">Destroy Card</button>
      </div>
    </div>
  </div>
</div>