<a href="#/boards/<%= board.escape("id") %>/edit">
  <%= board.escape("title") %>
</a>

  <ul>
    <div class="board_members">
    <% board.lists().forEach(function(list) { %>
      <li class="board_entry">
        <span class="title">
          <%= list.escape("title") %>
        </span>
        <ul>
        <% list.cards().forEach(function(card) { %>
          <li>
            <%= card.escape("title") %>
          </li>
        <% }) %>
        </ul>
        </a>
      </li>
    <% }) %>
    </div>
  </ul>
  <button class="new_list">New List</button>

<p><a href="#/boards/<%= board.escape("id") %>/newlist">Add New List</p>

<div>
  <p>
    <a href="#/">Back to Index</a>
  </p>
</div>